

.btn {
  width: 100px;
  height: 100px;
  border-radius: 100% !important;
  display: inline;
}

#start {
  background-color: black;
  color: white;
}

.btn:focus {
  outline: none;
}

.btn:active {
  outline: none;
  opacity: 100%;
}

.red {
  background-color: red;
  opacity: 50%;
}

.btn.red .red {
  background-color: darkred;
}

.blue {
  background-color: blue;
  opacity: 50%;
}

.btn.blue .blue {
  background-color: darkblue;
}

.yellow {
  background-color: gold;
  opacity: 50%;
}

.btn.yellow .yellow {
  background-color: orange;
}

.green {
  background-color: green;
  opacity: 50%;
}

.btn.green .green {
  background-color: darkgreen;
}
