button {
  width: 100px;
  height: 100px;
  border-radius: 100% !important;
  display: inline;
  opacity: .5;
}

.btn {
  opacity: 50% !important;
}

.btn:active {
  outline: none;
  opacity: 100%;
}

.start {
  background-color: black;
  color: white;
}

.active btn:click{

  background-color: inherit;
  opacity: 100%;

}
